@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$main_font: 'Open Sans', sans-serif;
//font-family: $main_font;

@mixin box-sizing($type){
  -webkit-box-sizing:$type;
  -moz-box-sizing:$type;
  box-sizing:$type;
}
//div {@include box-sizing(border-box);}

@mixin flexbox{
  display:-webkit-box; // old
  display:-moz-box; // old
  display:-ms-flexbox; // ie
  display:-webkit-flex; // new
  display:flex; // new
}
//div {@include flexbox();}

*{
  margin: 0;
  padding: 0;
  $main_font: 'Open Sans', sans-serif;
  @include box-sizing(border-box);

}

.main-header{
  background-image: url("../img/main-header-bg.jpg");
  background-size: cover;
  height: 100vh;
  .container{
    max-width: 1600px;
    margin: auto;
    .header__menu{
      padding-top: 50px;
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      .menu__mention{
        a{
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          color: #FFFFFF;
          &:hover{
            opacity: 0.8;
          }
        }
        .sign-up{
          border: 2px solid white;
          padding: 16px 30px;
          margin-left: 35px;
        }
      }
    }
    .header__offer{
      margin-left: 210px;
      margin-top: 45%;
      .offer__title{
        font-weight: normal;
        font-size: 50px;
        line-height: 62px;
        color: #FFFFFF;
      }
      .offer__sub-title{
        margin-top: 50px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
      }
    }
  }
}

.suggestion{
  background-color: #212121;
  position: relative;
  .container{
    padding-left: 210px;
    max-width: 1600px;
    margin: auto;
    .suggestion__title{
      padding-top: 110px;
      font-weight: normal;
      font-size: 50px;
      line-height: 62px;
      color: #FFFFFF;
    }
    .suggestion__sub-title{
      margin-top: 50px;
      padding-bottom: 400px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin-bottom: 500px;
    }
    .suggestion__slider{
      position: absolute;
      top: 50%;

      .suggestion__slider-item{
        max-width: 1073px;
        .slider-item__title{
          opacity: 0.5;
          margin-bottom: 12px;
          text-align: right;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          text-transform: capitalize;
          color: #FFFFFF;
        }
        .slider-item__picture{
          width: 100%;
        }
      .slider-item__sign{
        position: absolute;
        bottom: 85px;
        left: 45px;
        max-width: 520px;

        .sign__title{
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 45px;
          text-transform: capitalize;
          color: #FFFFFF;

        }
        .sign__text{
          opacity: 0.6;
          margin-top: 30px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF;
        }

      }
      }
      .slider-item__dots{
        margin-top: 20px;
        opacity: 0.2;
        .dot_left{
          display: inline-block;
          padding: 10px 14px;
          border: 2px solid #000;
          font-size: 20px;
        }
        .dot_right{
          display: inline-block;
          padding: 10px 14px;
          border: 2px solid #000;
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }

  }
}

.comfort{
  .container {
    padding-top: 110px;
    padding-left: 210px;
    max-width: 1600px;
    margin: auto;

    .comfort__title{
      font-weight: 400;
      font-style: normal;
      font-size: 50px;
      margin-bottom: 50px;
    }
    .comfort__text{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 90px;
    }
  }
  .comfort__slider{
    background-color: #212121;
    padding: 100px 0px 40px;
    .container{

      .row{
        @include flexbox();
        .slider__item{
          display: inline-block;
          max-width: 375px;
          margin-bottom: 60px;
          margin-right: 30px;

          .item__pic{
            width: 100%;
            margin-bottom: 15px;
          }
          .item__title{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 15px;
          }
          .item__text{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            opacity: 0.5;

          }

        }
      }

    }
  }
}

.place{
  padding-top: 200px;
  .container{
    padding-left: 210px;
    max-width: 1600px;
    margin: auto;
    .place__title{
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 62px;
      letter-spacing: 0.085em;
      text-transform: capitalize;
      color: #2F3139;
      margin-bottom: 70px;
    }
    .place__text{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 70px;
    }
  }
}

.specific{
  margin-top: 200px;
  .container{
    padding-left: 210px;
    max-width: 1600px;
    margin: auto;
    .specific__title{
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 62px;
      letter-spacing: 0.085em;
      color: #2F3139;
    }
    .wrap{
      @include flexbox();
      ul{
        list-style-type: none;
        margin-top: 60px;
        .specific__item{
          margin-bottom: 50px;
          margin-right: 100px;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
        }
      }
    }
    .specific__photo{
      @include flexbox();
      margin-top: 200px;
      justify-content: space-between;
      .photo__item{
        margin-bottom: 180px;
        .item__pic{
          max-width: 420px;
          margin-bottom: 20px;
        }
        .item__text{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
        }
      }
    }
  }
}

footer{
  background-color: #F3F3F3;
  padding-top: 150px;
  .container{
    padding-left: 210px;
    max-width: 1600px;
    margin: auto;
    @include flexbox();
    justify-content: space-between;
    .list{
      .title__list{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 35px;
      }
      .list__text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        opacity: 0.5;
        margin-bottom: 53px;
      }
      .list__down{
        @include flexbox();
        justify-content: space-between;
        .left__down{
          i{
            margin-right: 18px;
          }
          span{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            opacity: 0.6;
          }
        }
        a{
          padding: 16px 31px;
          border: 1.5px solid #717171;
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          text-transform: capitalize;
          color: #717171;
        }
      }
      ul{
        margin-bottom: 80px;
        .list__item{
          list-style: none;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 33px;
          color: #000000;
        }
      }
    }
    .social{
      padding: 45px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      a{
        margin-right: 45px;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #000000;
      }
    }
    .design{
      padding: 45px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      opacity: 0.5;
    }
  }
  .footer__line{
    opacity: 0.1;
    border: 1px solid #000000;
  }

}


