@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-header {
  background-image: url("../img/main-header-bg.jpg");
  background-size: cover;
  height: 100vh;
}
.main-header .container {
  max-width: 1600px;
  margin: auto;
}
.main-header .container .header__menu {
  padding-top: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .container .header__menu .menu__mention a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
.main-header .container .header__menu .menu__mention a:hover {
  opacity: 0.8;
}
.main-header .container .header__menu .menu__mention .sign-up {
  border: 2px solid white;
  padding: 16px 30px;
  margin-left: 35px;
}
.main-header .container .header__offer {
  margin-left: 210px;
  margin-top: 45%;
}
.main-header .container .header__offer .offer__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
}
.main-header .container .header__offer .offer__sub-title {
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.suggestion {
  background-color: #212121;
  position: relative;
}
.suggestion .container {
  padding-left: 210px;
  max-width: 1600px;
  margin: auto;
}
.suggestion .container .suggestion__title {
  padding-top: 110px;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
}
.suggestion .container .suggestion__sub-title {
  margin-top: 50px;
  padding-bottom: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 500px;
}
.suggestion .container .suggestion__slider {
  position: absolute;
  top: 50%;
}
.suggestion .container .suggestion__slider .suggestion__slider-item {
  max-width: 1073px;
}
.suggestion .container .suggestion__slider .suggestion__slider-item .slider-item__title {
  opacity: 0.5;
  margin-bottom: 12px;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.suggestion .container .suggestion__slider .suggestion__slider-item .slider-item__picture {
  width: 100%;
}
.suggestion .container .suggestion__slider .suggestion__slider-item .slider-item__sign {
  position: absolute;
  bottom: 85px;
  left: 45px;
  max-width: 520px;
}
.suggestion .container .suggestion__slider .suggestion__slider-item .slider-item__sign .sign__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.suggestion .container .suggestion__slider .suggestion__slider-item .slider-item__sign .sign__text {
  opacity: 0.6;
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.suggestion .container .suggestion__slider .slider-item__dots {
  margin-top: 20px;
  opacity: 0.2;
}
.suggestion .container .suggestion__slider .slider-item__dots .dot_left {
  display: inline-block;
  padding: 10px 14px;
  border: 2px solid #000;
  font-size: 20px;
}
.suggestion .container .suggestion__slider .slider-item__dots .dot_right {
  display: inline-block;
  padding: 10px 14px;
  border: 2px solid #000;
  font-size: 20px;
  margin-left: 10px;
}

.comfort .container {
  padding-top: 110px;
  padding-left: 210px;
  max-width: 1600px;
  margin: auto;
}
.comfort .container .comfort__title {
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 50px;
}
.comfort .container .comfort__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 90px;
}
.comfort .comfort__slider {
  background-color: #212121;
  padding: 100px 0px 40px;
}
.comfort .comfort__slider .container .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.comfort .comfort__slider .container .row .slider__item {
  display: inline-block;
  max-width: 375px;
  margin-bottom: 60px;
  margin-right: 30px;
}
.comfort .comfort__slider .container .row .slider__item .item__pic {
  width: 100%;
  margin-bottom: 15px;
}
.comfort .comfort__slider .container .row .slider__item .item__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.comfort .comfort__slider .container .row .slider__item .item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
}

.place {
  padding-top: 200px;
}
.place .container {
  padding-left: 210px;
  max-width: 1600px;
  margin: auto;
}
.place .container .place__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #2F3139;
  margin-bottom: 70px;
}
.place .container .place__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 70px;
}

.specific {
  margin-top: 200px;
}
.specific .container {
  padding-left: 210px;
  max-width: 1600px;
  margin: auto;
}
.specific .container .specific__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 0.085em;
  color: #2F3139;
}
.specific .container .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.specific .container .wrap ul {
  list-style-type: none;
  margin-top: 60px;
}
.specific .container .wrap ul .specific__item {
  margin-bottom: 50px;
  margin-right: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.specific .container .specific__photo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
}
.specific .container .specific__photo .photo__item {
  margin-bottom: 180px;
}
.specific .container .specific__photo .photo__item .item__pic {
  max-width: 420px;
  margin-bottom: 20px;
}
.specific .container .specific__photo .photo__item .item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

footer {
  background-color: #F3F3F3;
  padding-top: 150px;
}
footer .container {
  padding-left: 210px;
  max-width: 1600px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
footer .container .list .title__list {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 35px;
}
footer .container .list .list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 53px;
}
footer .container .list .list__down {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
footer .container .list .list__down .left__down i {
  margin-right: 18px;
}
footer .container .list .list__down .left__down span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.6;
}
footer .container .list .list__down a {
  padding: 16px 31px;
  border: 1.5px solid #717171;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #717171;
}
footer .container .list ul {
  margin-bottom: 80px;
}
footer .container .list ul .list__item {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
}
footer .container .social {
  padding: 45px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
footer .container .social a {
  margin-right: 45px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}
footer .container .design {
  padding: 45px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}
footer .footer__line {
  opacity: 0.1;
  border: 1px solid #000000;
}

/*# sourceMappingURL=style.css.map */
